:root{
    --main-background-color: #5aa8ad;
    --main-foreground-color: #ad7249;
}

html {
    font-size: 62.5%;
}

body{
    background-color: var(--main-background-color);
    padding: 0 8%;
    height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
#main-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

}

.buttonContainer > *{
    font-size: 3.25rem;
    flex-basis: 100%;
    border-radius: 0.5rem;
}

.tracking {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    
}
.tracking > *{
    font-size: 2.5rem;
    flex-basis: 100%;
    font-weight: bold;
}

.tracking #playerScore,
.tracking #computerScore{
    display: flex;
    justify-content: center;
    align-items: center;
}